body {
    background-image: url(images/pozaValidare.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    border: 2px solid black;
    box-shadow: 10px 10px 20px black;
    width: 40%;
    text-align: center;
    margin: 90px auto;
    border-radius: 45px;
}
    .submit {
        background-color: red;
        color: black;
        font-weight: bold;
        border-radius: 7px;
        width: 150px;
        height: 40px;
        cursor: pointer;
        margin: 3px auto;
    }
    h1 {
        font-size: 30px;
        color: white;
    }
    h4 {
        color: white;
    }
    @media screen and (min-width:400px) {
        body {
            width: 100%;
            height: 100%;
            background-size: auto;
        }
    }